# Python キャッシュ
__pycache__/
*.py[cod]

# 仮想環境
.vscode/
venv/
.venv/

# IDE や OSのゴミファイル
.DS_Store
*.swp
*.ini
*.html

# その他除外したい一時ファイル
*.log
*.spec
*.ini
dist/
build/

# Package metadata and distribution files
*.egg-info/
*.whl
*.tar.gz
